# Linear Regression

# Use Case: Salary Prediction

Problem Statement:

Build a model to predict salary based on the number years of experience.



Data:

Use the Salary_Data dataset and analyse the relationship between YearsExperience and Salary variables using a linear regression.

# Import Libraries

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

# Import Dataset

In [ ]:
d1=pd.read_csv('Salary_Data.csv')

In [ ]:
print(d1)

# Exploratory Data Analysis(EDA)

In [ ]:
d1.head(10)

In [ ]:
d1.tail()

In [ ]:
d1.describe()

In [ ]:
d1.info()

In [ ]:
print(d1.shape)

In [ ]:
d1.corr()

In [ ]:
x=d1['YearsExperience']
y=d1["Salary"]
#x=d1.iloc[:,0]
#y=d1.iloc[:,1]
plt.plot(x,y,'*')

plt.title('YearsExperience vs Salary ')
plt.xlabel("YearsExperience")
plt.ylabel('Salary ')
plt.show()

In [ ]:
sns.regplot(x=x,y=y,ci=None)

# Splitting Data into Training and Testing Dataset

In [ ]:
# d1--> 30 rows and 2 columns

x=d1.iloc[0:30,0:1].values #x=Years of Experience(Independant variable)-->index of column =0
y=d1.iloc[0:30,1:2].values #y=Salary (Dependant variable)--->index of column = 1

#x=d1.iloc[:,:1].values
#y=d1.iloc[:,1].values

d1 is adataframe where, there are 30 rows and 5 columns

In [ ]:
print(x)   # x has 30 records,   x_train (80% data) and x_test (20 % data),  x_train will have 24 records and x_test will have 6 records.

In [ ]:
print(y)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

---> x has 30 records i.e. years of experience --->  x_train (80% data) and x_test (20 % data)--->  x_train will have 24 records and x_test will have 6 records.


---> y has 30 records i.e. salary ---> y_train (80% data) and y_test (20 % data)---> y_train will have 24 records and y_test will have 6 records.

In [ ]:
print("x_train")
print(x_train)
print("x_test")
print(x_test)

In [ ]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
print("X:",x)

print("x_train:",x_train)
print("x_test",x_test)

In [ ]:
print("Y:",y)

print("y_train:",y_train)
print("y_test",y_test)

# Creating Linear Regression Model

# y=aX+b

Where X=Predictor/Independant variable, 
Y=Response/Dependant Variable, 
a= Coefficient and b=Intercept

In this example, X is YearsExperience and Y is Salary.

Salary=a* Years of Experience +b

In [ ]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train) # Training the algorithm

# Interpreting Model Coefficients

In [ ]:
print(regressor.intercept_)

In [ ]:
print(regressor.coef_)

Y=ax+b

Salary=9312.57512673(YearsExperience)+26780.099150628186

# Making Predictions with Our Model

x_train=24  (x= years of experience)
x_test=6
y_train=24   (y=salary)
y_test=6

x_test [[ 1.5]
 [10.3]
 [ 4.1]
 [ 3.9]
 [ 9.5]
 [ 8.7]]

y_test [ 37731. 122391.  57081.  63218. 116969. 109431.]

In [ ]:
y_pred=regressor.predict(x_test)

In [ ]:
print(y_pred)

df=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
print(df)

# Model Evaluation Metrics

In [ ]:
from sklearn import metrics
print('Mean Absolute Error',metrics.mean_absolute_error(y_test,y_pred))

In [ ]:
print('Mean Squared Error',metrics.mean_squared_error(y_test,y_pred))

In [ ]:
print('Root Mean Squared Error',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

In [ ]:
print(x_test)

# Mean Absolute Error (MAE)

# MAE=  [  ∑ abs(actual_value - prdicted_value)  ] / n

mi=abs(actual_value-predicted_value)

m1=abs(37731.0 - 40748.961841)=3017.961841

m2=abs(122391.0 - 122699.622956)=308.6229559

m3=abs(57081.0 - 64961.657170)=7880.65717

m4=abs(63218.0 - 63099.142145)=118.8578551

m5=abs(116969.0 - 115249.562855)=1719.437145

m6=abs(109431.0 - 107799.502753)=1631.497247


MAE=(m1 + m2 + m3 + m4 + m5 + m6 )/ 6

MAE=(3017.961841+308.6229559+7880.65717+118.8578551+1719.437145+1631.497247) / 6

MAE=(14677.03421) / 6

MAE=2446.172369

# Mean Squared Error (MSE)

# MSE= [ ∑ (actual_value - predicted_value)² ] / n

mi= (actual_value - prdicted_value)²


m1= (37731.0 - 40748.961841)² = 9108093.672

m2= (122391.0 - 122699.622956)² = 95248.12893

m3= (57081.0 - 64961.657170)² = 62104757.43

m4= (63218.0 - 63099.142145)² = 14127.18973

m5= (116969.0 - 115249.562855)² = 2956464.097

m6= (109431.0 - 107799.502753)² = 2661783.266


MSE=( m1 + m2 + m3 + m4 + m5 + m6 ) / 6

MSE=(9108093.672+95248.12893+62104757.43+14127.18973+2956464.097+2661783.266) / 6

MSE=(76940473.79) / 6

MSE=12823412.3

# Root Mean Squared Error (RMSE)

RMSE= SQRT(MSE)
RMSE= SQRT(12823412.3)
RMSE= 3580.979237

# R-Squared

In [ ]:
train_score_lr = regressor.score(x_train, y_train)
test_score_lr = regressor.score(x_test, y_test)

print("The train score for lr model is: ", train_score_lr)
print("The test score for lr model is: ",test_score_lr)

In [ ]:
train_score_lr = regressor.score(x_train, y_train)
test_score_lr = regressor.score(x_test, y_test)

print("The train score for lr model is: ", train_score_lr)
print("The test score for lr model is: ",test_score_lr)

In [ ]:
actual_minus_predicted = sum((y_test - y_pred)**2)
actual_minus_actual_mean = sum((y_test - y_test.mean())**2)
r2 = 1 - actual_minus_predicted/actual_minus_actual_mean
print('R²:', r2)

37731+MSE=37731+3581=41312
37731+3581

In [ ]:
plt.plot(x_test,y_test,'o')

plt.title('YearsExperience vs Salary ')
plt.xlabel("YearsExperience")
plt.ylabel('Salary ')
plt.show()

In [ ]:
sns.regplot(x=x_test,y=y_test,ci=None)